.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.error {
  color: red
}
.success {
  color: green
}
label {
  display: block;
}
form {
  border-radius: 5px;
  border: solid 1px black;
  width: 400px;
  margin: 0 auto;
  padding: 5px;
  background-color: rosybrown;
}
button {
  background-color: antiquewhite;
  border-radius: 5px;
  margin-top: 5px;
}
